@model BlogEngine.Client.Areas.API.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Post Manager";
    Layout = "_Layout";
}

@section Scripts {
    <script asp-append-version="true" src="~/admin/js/views/post.js"></script>
}

<h2>@ViewData["Title"]</h2>

<div class="row" id="post-table">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(post, index) in results">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>
                        <button v-on:click="showEditModal(result.id)" class="btn btn-sm btn-info">Edit</button>
                        <button v-on:click="deleteCategory(result)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success" asp-area="Admin" asp-controller="Post" asp-action="Add">Add</a>
    </div>
    <div class="col-md-2">
        <a v-on:click="getAll" class="btn btn-success">Refresh</a>
    </div>
</div>